__pycache__/Datatypes.cpython-39.pyc
__pycache__/Datatypes.cpython-310.pyc
__pycache__/equation_solver.cpython-39.pyc
__pycache__/equation_solver.cpython-310.pyc
__pycache__/interface.cpython-39.pyc
__pycache__/interface.cpython-310.pyc
__pycache__/interpreter.cpython-39.pyc
__pycache__/interpreter.cpython-310.pyc
__pycache__/lexer.cpython-39.pyc
__pycache__/lexer.cpython-310.pyc
__pycache__/parse.cpython-39.pyc
__pycache__/parse.cpython-310.pyc
__pycache__/testing_module.cpython-39.pyc
__pycache__/testing_module.cpython-310.pyc
Interpreter.lnk
start.bat
.vscode/launch.json
.vscode/settings.json
__pycache__/builtinfunctions.cpython-310.pyc
__pycache__/builtinfunctions.cpython-39.pyc
__pycache__/testmodules.cpython-39.pyc
__pycache__/testmodules.cpython-310.pyc
